<div class="window">
  <div class="title-bar">
    <div class="title-bar-text">CometsOnly</div>
    <div class="title-bar-controls">
      <button aria-label="Minimize"></button>
      <button aria-label="Maximize"></button>
      <button aria-label="Close"></button>
    </div>
  </div>

  <div class="window-body">
    <div class="logo-container">
      <img src="../../assets/logo.png" class="logo" alt="CometsOnly Logo">
    </div>

    <div class="welcome">
      <h4>Hello CS Major!</h4>
      <!-- <h4 *ngIf="profile == undefined">Hello CS Major!</h4> -->
      <!-- <h4 *ngIf="profile != undefined">Hello {{profile.name}}!</h4> -->
    </div>

    <div class="options">
      <button (click)="find()">Find</button>
    </div>
  </div>
</div>
