.window{
  width: 90%;
  margin: 0.25rem 0;
}

ul {
  list-style-type: none;
}

.introduction {
  text-align: center;
}

.smaller {
  font-size: 1rem;
  text-align: left;
}

.details {
  font-size: 1rem;
  margin: 0 0.5rem;
}

.options{
  margin: 0 0.5rem;
}

.body-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
